@import "~bootstrap/scss/bootstrap";

// Your custom styles or Bootstrap customizations
body {
  background-color: #144576;
}

.main_header {
  background-color: bisque;
}
.navbars {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8;
}
